.slider {
  position: relative;
  width: 100%;
}

.slick-next,
.slick-prev {
  top: 40% !important;
  padding: 50px 0 !important;
}

.slick-slider {
  margin: 0 -15px;
}

.leftArrow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  display: flex;
  justify-content: center;
  z-index: 10;
  align-items: center;
  cursor: pointer;
}


.rightArrow {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  display: flex;
  justify-content: center;
  z-index: 10;
  align-items: center;
  cursor: pointer;
}

.leftarrow {
  user-select: none;
  font-size: 50px;
}

.rightarrow {
  z-index: 10;
  user-select: none;
  font-size: 50px;
}


@media (min-width:0px) {


  .leftArrow,
  .rightArrow {
    width: 30px;
    font-size: 30px;
  }

  .slick-next,
  .slick-prev {
    top: 32% !important;
    padding: 10px 0 !important;
    font-size: 10px;
  }

  .slick-prev {
    left: -15px !important
  }

  .slick-next {
    right: -15px !important;
  }

  .slick-next:before,
  .slick-prev:before {
    font-size: 12px !important;
  }

}

@media (min-width: 320px) {

  .leftArrow,
  .rightArrow {
    width: 35px;
  }

  .slick-next,
  .slick-prev {
    top: 34% !important;
    padding: 10px 0 !important;
    font-size: 10px;
  }

  .slick-prev {
    left: -18px !important
  }

  .slick-next {
    right: -18px !important;
  }

  .slick-next:before,
  .slick-prev:before {
    font-size: 14px !important;
  }
}

@media (min-width:480px) {

  .leftArrow,
  .rightArrow {
    width: 45px;
  }
}

@media (min-width:600px) {

  .leftArrow,
  .rightArrow {
    width: 45px;
  }
}


@media (min-width:801px) {

  .leftArrow,
  .rightArrow {
    width: 55px;
  }

  .slick-next,
  .slick-prev {
    top: 36% !important;
    padding: 10px 0 !important;
    font-size: 10px;
  }

  .slick-next:before,
  .slick-prev:before {
    font-size: 16px !important;
  }
}


@media (min-width:1025px) {

  .leftArrow,
  .rightArrow {
    width: 60px;
    font-size: 40px;
  }

  .slick-next,
  .slick-prev {
    top: 40% !important;
    padding: 10px 0 !important;
    font-size: 10px;
  }

  .slick-next:before,
  .slick-prev:before {
    font-size: 18px !important;
  }
}

@media (min-width:1281px) {

  .leftArrow,
  .rightArrow {
    width: 80px;

  }
}