.nav {
  width: 100%;
  background-color: var(--gray-color);
  display: flex;
  justify-content: center;
}


.navigation {
  width: 1347px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.leftSection {
  display: flex;
  align-items: center;
}

.rightSection {
  height: 53px;
}

.movieDbIcon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navTitle {
  color: var(--white-color);
  font-size: 24px;
  font-weight: 700;
}

.nav__Title {
  font-family: var(--cursive-font);
  font-weight: 400;
  font-size: 32px;
}


@media (min-width:0px) {
  .rightSection {
    height: 15px;
  }

  .navTitle {
    font-size: 5px;
    font-weight: 700;
  }

  .nav__Title {
    font-weight: 400;
    font-size: 8px;
  }

  .navigation {
    padding: 3px 15px;
  }

  .link {
    width: 18px;
    height: 18px;
  }
}

@media (min-width: 320px) {
  .rightSection {
    height: 15px;
  }

  .navTitle {
    font-size: 7px;
    font-weight: 700;
  }

  .nav__Title {
    font-weight: 400;
    font-size: 10px;
  }

  .navigation {
    padding: 3px 15px;
  }

  .link {
    width: 25px;
    height: 25px;
  }
}


@media (min-width:480px) {
  .rightSection {
    height: 20px;
  }

  .navTitle {
    font-size: 8px;
    font-weight: 700;
  }

  .nav__Title {
    font-weight: 400;
    font-size: 12px;
  }

  .navigation {
    padding: 8px 30px;
  }

  .link {
    width: 35px;
    height: 25px;
  }
}

@media (min-width:600px) {
  .rightSection {
    height: 30px;
  }

  .navTitle {
    font-size: 14px;
    font-weight: 700;
  }

  .nav__Title {
    font-weight: 400;
    font-size: 18px;
  }

  .navigation {
    padding: 15px;
  }

  .link {
    width: 45px;
    height: 30px;
  }
}

@media (min-width:801px) {
  .rightSection {
    height: 40px;
  }

  .navTitle {
    font-size: 16px;
    font-weight: 700;
  }

  .nav__Title {
    font-weight: 400;
    font-size: 22px;
  }

  .navigation {
    padding: 20px;
  }

  .link {
    width: 60px;
    height: 38px;
  }
}

@media (min-width:1025px) {
  .rightSection {
    height: 43px;
  }

  .navTitle {
    font-size: 20px;
    font-weight: 700;
  }

  .nav__Title {
    font-weight: 400;
    font-size: 26px;
  }

  .link {
    width: 70px;
    height: 50px;
  }
}

@media (min-width:1281px) {
  .rightSection {
    height: 53px;
  }

  .navTitle {
    font-size: 24px;
    font-weight: 700;
  }

  .nav__Title {
    font-weight: 400;
    font-size: 32px;
  }

  .link {
    width: 90px;
    height: 80px;
  }

}