.directors,
.otherCrew,
.crew {
  display: flex;
  column-gap: 60px;
}

.single_Director,
.single_CrewMember {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  text-overflow: ellipsis;
}

.crew {
  padding: 30px 0;
  overflow-x: scroll;
  align-items: center;
}

.crew::-webkit-scrollbar {
  width: 0;
  height: 0;
}


.directors_name,
.CrewMember_name {
  font-size: 24px
}

.viewMore {
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  border-radius: 20px;
  transition: background-color 0.25s ease-in-out;
}

.viewMore:hover {
  background-color: rgb(9, 8, 31);
}

/* Media queries */

@media (min-width:0px) {

  .directors_name,
  .CrewMember_name {
    font-size: 6px
  }

  .crew {
    padding: 3px 10px;
    box-sizing: border-box;
  }

  .single_Director,
  .single_CrewMember {
    row-gap: 1px;
  }

  .directors,
  .otherCrew,
  .crew {
    column-gap: 10px;
  }

  .directors_job,
  .CrewMember_job {
    font-size: 4px;
  }
}

@media (min-width:320px) {

  .directors_name,
  .CrewMember_name {
    font-size: 8px
  }

  .crew {
    padding: 4px 13px;
    box-sizing: border-box;
  }

  .single_Director,
  .single_CrewMember {
    row-gap: 2px;
  }

  .directors,
  .otherCrew,
  .crew {
    column-gap: 12px;
  }

  .directors_job,
  .CrewMember_job {
    font-size: 5px;
  }
}

@media (min-width:400px) {

  .directors_name,
  .CrewMember_name {
    font-size: 10px
  }

  .crew {
    padding: 8px 15px;
    box-sizing: border-box;
  }

  .single_Director,
  .single_CrewMember {
    row-gap: 3px;
  }

  .directors,
  .otherCrew,
  .crew {
    column-gap: 18px;
  }

  .directors_job,
  .CrewMember_job {
    font-size: 7px;
  }
}

@media (min-width:480px) {

  .directors_name,
  .CrewMember_name {
    font-size: 12px
  }

  .crew {
    padding: 10px 20px;
    box-sizing: border-box;
  }

  .single_Director,
  .single_CrewMember {
    row-gap: 4px;
  }

  .directors,
  .otherCrew,
  .crew {
    column-gap: 25px;
  }

  .directors_job,
  .CrewMember_job {
    font-size: 8px;
  }
}

@media (min-width:600px) {

  .directors_name,
  .CrewMember_name {
    font-size: 14px
  }

  .crew {
    padding: 15px 30px;
    box-sizing: border-box;
  }

  .single_Director,
  .single_CrewMember {
    row-gap: 6px;
  }

  .directors,
  .otherCrew,
  .crew {
    column-gap: 35px;
  }

  .directors_job,
  .CrewMember_job {
    font-size: 12px;
  }
}

@media (min-width:801px) {

  .directors_name,
  .CrewMember_name {
    font-size: 18px
  }

  .crew {
    padding: 15px 30px;
    box-sizing: border-box;
  }

  .directors_job,
  .CrewMember_job {
    font-size: 13px;
  }

  .single_Director,
  .single_CrewMember {
    row-gap: 6px;
  }

  .directors,
  .otherCrew,
  .crew {
    column-gap: 35px;
  }
}

@media (min-width:1025px) {

  .directors_name,
  .CrewMember_name {
    font-size: 24px
  }

  .crew {
    padding: 20px 30px;
  }

  .directors_job,
  .CrewMember_job {
    font-size: 16px;
  }

  .single_Director,
  .single_CrewMember {
    row-gap: 8px;
  }

  .directors,
  .otherCrew,
  .crew {
    column-gap: 45px;
  }
}

@media (min-width:1281px) {


  .crew {
    padding: 30px 35px;
  }

  .single_Director,
  .single_CrewMember {
    row-gap: 15px;
  }

  .directors,
  .otherCrew,
  .crew {
    column-gap: 60px;
  }
}