.contentWrapper {
  width: 1250px;
}



.movieIcon {
  width: 90px;
  height: 80px;
}

.carouselWrapper {
  width: 1347px;
}



.backgroundImage {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(30%);
  animation-name: Appearance;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(.1, -.6, .2, 0);
}

@-webkit-keyframes Appearance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes Appearance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes Appearance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes Appearance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.itemOfHeader {
  width: 1347px;
  height: 550px;
  position: relative;
  transition: all 0.5s;
}

.itemInfo {
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  justify-content: flex-end;
  position: absolute;
  color: var(--white-color);
  padding: 40px;
  box-sizing: border-box;
}

.title {
  font-size: 40px;
  letter-spacing: 3px;
  font-weight: 500;
}

.description {
  letter-spacing: 1px;
}

@media (max-width:319px) {

  .carouselWrapper,
  .itemOfHeader {
    width: 100vw;
  }


  .itemOfHeader {
    height: 100px;
  }

  .itemInfo {
    row-gap: 5px;
    padding-bottom: 10px;
  }

  .title {
    font-size: 12px;
    letter-spacing: 1px;
  }


  .description {
    font-size: 5px;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .movieIcon {
    width: 18px;
    height: 18px;
  }
}

@media (min-width:320px) {
  .backgroundImage {
    background-position: top;
  }

  .carouselWrapper,
  .itemOfHeader {
    width: 100vw;
  }


  .itemOfHeader {
    height: 120px;
  }

  .itemInfo {
    row-gap: 5px;
    padding-bottom: 10px;
  }

  .title {
    font-size: 12px;
    letter-spacing: 1px;
  }


  .description {
    font-size: 5px;
  }

  .movieIcon {
    width: 25px;
    height: 25px;
  }
}

@media (min-width:480px) {


  .itemOfHeader {
    height: 220px;
  }


  .itemInfo {
    row-gap: 10px;
    padding: 40px 75px 20px 75px;
  }

  .title {
    font-size: 18px;
    letter-spacing: 1px;
  }


  .description {
    font-size: 8px;
  }

  .movieIcon {
    width: 35px;
    height: 25px;
  }
}

@media (min-width:600px) {

  .itemInfo {
    padding: 40px 75px 20px 75px;
  }

  .itemOfHeader {
    height: 250px;
  }

  .movieIcon {
    width: 45px;
    height: 30px;
  }

}

@media (min-width:801px) {


  .itemOfHeader {
    height: 350px;
  }

  .itemInfo {
    row-gap: 20px;
    padding-bottom: 40px 100px 30px 100px;
  }

  .title {
    font-size: 20px;
    letter-spacing: 1px;
  }


  .description {
    font-size: 12px;
  }

  .movieIcon {
    width: 60px;
    height: 38px;
  }

}

@media (min-width:1025px) {

  .itemOfHeader {
    height: 450px;
  }

  .movieIcon {
    width: 70px;
    height: 50px;
  }

  .itemInfo {
    row-gap: 30px;
    padding: 40px 100px;
    box-sizing: border-box;
  }

  .title {
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 500;
  }

  .description {
    letter-spacing: 1px;
    font-size: 18px;
  }
}

@media (min-width:1281px) {

  .carouselWrapper,
  .itemOfHeader {
    width: 1347px;
  }

  .itemInfo {
    row-gap: 30px;
    padding: 40px 100px;
    box-sizing: border-box;
  }

  .title {
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 500;
  }

  .description {
    letter-spacing: 1px;
    font-size: 18px;
  }

  .movieIcon {
    width: 90px;
    height: 80px;
  }
}